@model DonationViewModel

@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Home";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p><b>Step 1:</b></p>

<form asp-controller="Home" asp-action="Create">
    
    @Html.ValidationSummary()

    <p>I would like to make a </p>

    <select asp-for="CycleId"
            asp-items="@Model.DonationCycles">
        <option>Please select one</option>
    </select>

    gift of:

    <ul>
        @foreach (var donation in Model.DonationOptions)
        {
            if (donation.IsCustom)
            {
                <li><input asp-for="DonationAmount"/> @donation.Reason</li>
            }
            else
            {
                <li> <input asp-for="SelectedAmount" type="radio" value="@donation.Id" /> @donation.Amount @donation.Reason</li>
            }
        }
    </ul>



    <input type="submit" value="Submit" />
</form>


<p><b>Step 2:</b></p>

<p>User must sign in or create an account.</p>

<p><b>Step 3:</b></p>

<p>User enters credit card details.</p>

<p><b>Step 4:</b></p>

<p>User is notified of success or failure of Stripe transaction.</p>

<p><b>Step 5:</b></p>

<p>User can view or cancel any Stripe subscriptions in account profile.</p>