@model DonationViewModel

@using Microsoft.AspNetCore.Mvc.Rendering
@{
    ViewData["Title"] = "Home";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<form asp-controller="Home" asp-action="Create">
    
    <div asp-validation-summary="All" class="text-danger"></div>

    <p>I would like to make a </p>

    <select asp-for="CycleId"
            asp-items="@Model.DonationCycles">
    </select>

    gift of:

    <ul>
        @foreach (var donation in Model.DonationOptions)
        {
            if (donation.IsCustom)
            {
                <li><input asp-for="SelectedAmount" type="radio" value="@donation.Id" /><input asp-for="DonationAmount"/> @donation.Reason</li>
            }
            else
            {
                <li> <input asp-for="SelectedAmount" type="radio" value="@donation.Id" /> @donation.Amount @donation.Reason</li>
            }
        }
    </ul>

    <button class="btn btn-success" type="submit">Submit</button>
</form>


